/* CSS Document */
body,form,table,div,span,ul,li,input,select,p{ font-size:12px; padding:0px; margin:0px; font-family:Verdana, Arial, "Courier New","宋体";}
BODY{overflow: hidden;max-height: 100%;line-height: 20px;font-family: Verdana;height: 100%;background-color: #EEF1F9;}
h1,h2,h3,h4,h5{ padding:0px; margin:0px;}
body{ color:#808080;}
ul{ list-style:none;}
img{ border:none;}
a{ text-decoration: none;}
a:hover{ text-decoration: underline ;}
.syslogin{ width:408px; height:250px; margin:100px auto 45px auto; background-image:url(../../images/sysloginbg.gif);}
.syslogin .formcon{ width:250px; height:150px; margin:60px 38px 36px 120px; float:left; display:inline;}
.syslogin .formcon li{ float:left; font-family:Verdana, Arial, "Courier New"; font-size:14px; font-weight:bold; color:#808080; height:30px; line-height:30px; padding:2px;}
*html .syslogin .formcon li img{ margin-top:3px;}
*+html .syslogin .formcon li img{ margin-top:3px;}
.syslogin .formcon li img{ margin-top:8px;}
.syscopyright{ width:550px; height:35px; line-height:35px; margin:0px auto; border-top:#CCCCCC solid 1px; text-align:center; font-size:7pt; font-family:Verdana, Arial, "Courier New";}
.btn{ width:220px; margin-top:15px}
.btncss{ border: medium none; background-image:url(../../images/loginbtn.gif); width:78px; height:29px; margin-top:5px; cursor:pointer;}
/*全局后台*/
.top{ height:45px; background-image:url(../../images/topico.gif); background-repeat:repeat-x;}
.top .ico{ height:25px; width:80px; margin:6px 5px 6px 5px; float:left; background:url(../../images/ico1.gif) no-repeat 0px -7px ; display:inline; padding:10px 0px 0px 40px; font-weight:bold; background-repeat:no-repeat;}
.topright{ float:right; overflow:hidden; height:45px; line-height:45px; margin-right:20px;}
.clearfloat{ clear:both;}
.main{border:#35006A solid 1px;}
.mainleft{ width:134px; float:left; padding:0px 0px 0px 10px; margin-top:8px;}
.mainright{ margin:8px 8px 8px 0px; float:left; border:#9691CA solid 1px; overflow:auto; background-color:#FFFFFF; border-left:none; overflow:hidden;}
/*菜单样式*/
.upmenu{ background:url(../../images/sysmenubg.gif) no-repeat 0px -1px; height:35px; line-height:35px; padding-left:20px; font-weight:bold; color:#6158AF; cursor:pointer;}
.downmenu{ background:url(../../images/sysmenubg.gif) no-repeat 0px -39px; height:35px; line-height:35px; padding-left:20px; font-weight:bold; color:#6158AF; cursor:pointer;}
.menulist{ display:none; padding-left:22px; line-height:20px; margin:5px 0px;}
.menulist A{ color:#6600FF; text-decoration:none; padding:3px;}
.menulist A:hover{ color:#6600FF; text-decoration:none; padding:3px; border:#666699 solid 1px;}
.menulist .onlink{ color:#6600FF; text-decoration:none; padding:3px; border:#666699 solid 1px;}
.menulist .uplink{ color:#6600FF; text-decoration:none; padding:3px;}
a:link {color: #3AA7CB;text-decoration: none;}
a:visited {color: #3AA7CB;text-decoration: none;}
a:hover {color: #FF0000;text-decoration: none;}
a:active {color: #3AA7CB;text-decoration: none;}